@use "../abstracts" as *;


body {
  display: grid;
  place-items: center;
}

.logos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

header p{
    max-width: rem(500);
}

header h1{
    display: flex;
    flex-direction: column;
}

header  nav {
   
    div{
        display: flex;
    }
    gap: 10px;
    
    a{
        color: var(--clr-accent);
    }
    a:last-of-type{
        margin-left: auto;
    }
}